flow5.json
[{"id":"e65e76ab.71b6b8","type":"tab","label":"流程7","disabled":false,"info":""},{"id":"b4f0b79c.ceee48","type":"http in","z":"e65e76ab.71b6b8","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":80,"y":220,"wires":[["aa0db13c.5abac","89d0d200.5cd36"]]},{"id":"aa0db13c.5abac","type":"function","z":"e65e76ab.71b6b8","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["b2ec5f64.2a41b"]]},{"id":"b2ec5f64.2a41b","type":"rpi-gpio out","z":"e65e76ab.71b6b8","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":530,"y":260,"wires":[]},{"id":"89d0d200.5cd36","type":"function","z":"e65e76ab.71b6b8","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":340,"wires":[["bbcfdcae.d4c91","bdac38fa.5d7a38"]]},{"id":"bbcfdcae.d4c91","type":"http response","z":"e65e76ab.71b6b8","name":"","statusCode":"","headers":{},"x":480,"y":360,"wires":[]},{"id":"bdac38fa.5d7a38","type":"debug","z":"e65e76ab.71b6b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":440,"wires":[]},{"id":"cca52d95.c0f08","type":"http in","z":"e65e76ab.71b6b8","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":70,"y":500,"wires":[["ca3cf3aa.628ce","48011d32.6e7864"]]},{"id":"ca3cf3aa.628ce","type":"function","z":"e65e76ab.71b6b8","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":480,"wires":[["b2ec5f64.2a41b"]]},{"id":"48011d32.6e7864","type":"function","z":"e65e76ab.71b6b8","name":"Returnn Status","func":"msg.payload = \"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":620,"wires":[["bbcfdcae.d4c91","bdac38fa.5d7a38"]]}]