flow4.json
[{"id":"ef0548b3.c1d178","type":"tab","label":"流程5","disabled":false,"info":""},{"id":"785a6cd.6878894","type":"rpi-gpio in","z":"ef0548b3.c1d178","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":90,"y":180,"wires":[["f0d9eb93.a15b38"]]},{"id":"4191237e.69cebc","type":"http in","z":"ef0548b3.c1d178","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":120,"y":100,"wires":[["85500560.fdee18"]]},{"id":"f0d9eb93.a15b38","type":"function","z":"ef0548b3.c1d178","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":180,"wires":[["3a87d376.39defc"]]},{"id":"85500560.fdee18","type":"function","z":"ef0548b3.c1d178","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":100,"wires":[["4474545b.d101ec","3a87d376.39defc"]]},{"id":"4474545b.d101ec","type":"http response","z":"ef0548b3.c1d178","name":"","statusCode":"","headers":{},"x":490,"y":100,"wires":[]},{"id":"3a87d376.39defc","type":"debug","z":"ef0548b3.c1d178","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":180,"wires":[]}]