flow3.json
[{"id":"1aef4c7e.d97d74","type":"inject","z":"c2015679.9074b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":80,"wires":[["79a01ea8.3d0e2"]]},{"id":"79a01ea8.3d0e2","type":"function","z":"c2015679.9074b8","name":"","func":"msg.headers={\n    deviceKey:\"60qrpRll6S86OvC1\"\n    };\nmsg.payload=\"Temperature,,25.3\";    \nreturn msg;","outputs":1,"noerr":0,"x":240,"y":100,"wires":[["1ac4267b.65883a"]]},{"id":"1ac4267b.65883a","type":"http request","z":"c2015679.9074b8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DLfZecbC/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":100,"wires":[["8a0eb953.6e0f78","cda1ab0d.23b438"]]},{"id":"8a0eb953.6e0f78","type":"http response","z":"c2015679.9074b8","name":"","statusCode":"","headers":{},"x":580,"y":100,"wires":[]},{"id":"cda1ab0d.23b438","type":"debug","z":"c2015679.9074b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":220,"wires":[]}]