flow2.json
[{"id":"77e56ee7.42e65","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"953e1f87.56fa","type":"inject","z":"77e56ee7.42e65","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":120,"wires":[["5d30203f.4bbf4"]]},{"id":"5d30203f.4bbf4","type":"function","z":"77e56ee7.42e65","name":"Playload","func":"msg.headers={\n    deviceKey:\"60qrpRll6S86OvC1\"\n    };\n    \nreturn msg;","outputs":1,"noerr":0,"x":250,"y":160,"wires":[["5e576ed4.4a33d"]]},{"id":"5e576ed4.4a33d","type":"http request","z":"77e56ee7.42e65","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DLfZecbC/datachannels/SwitchStatus/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":160,"wires":[["5a4c39ef.689708","f1c21704.980788"]]},{"id":"5a4c39ef.689708","type":"http response","z":"77e56ee7.42e65","name":"","statusCode":"","headers":{},"x":560,"y":180,"wires":[]},{"id":"f1c21704.980788","type":"debug","z":"77e56ee7.42e65","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":260,"wires":[]}]